<div class="jumbotron">
	<h1 class="text-center">Pacientes App</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/pacientes/novo" class="btn btn-primary" type="button">
						Novo paciente
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo título do paciente"
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <div class="col-md-2 painel-animado" ng-repeat="paciente in pacientes">
        <div cpf="{{paciente.cpf}}" alt="{{paciente.nome}}"></div>

		<a class="btn btn-primary btn-block" href="/pacientes/edita/{{paciente.id}}">
			Editar
		</a>
		<div nome="Remover" acao="remover(paciente)">Remover</div>
    </div>
</div>
