<header>

	<div class="jumbotron">
		<h1 class="text-center">Pacientes App</h1>
	</div>

</header>

<main>

		<div class="container">

		<a type="button" class="btn btn-primary btn-lg btn-block mb-4" href="/pacientes/novo">
			CADASTRAR NOVO PACIENTE
		</a>

		<div class="card mb-4" ng-repeat="paciente in pacientes">

			<div class="card-header text-center"> Ficha {{paciente.id}} - {{paciente.nome}}</div>

			<ul class="list-group list-group-flush">
		    <li class="list-group-item">Nome - {{paciente.nome}}</li>
		    <li class="list-group-item">CPF - {{paciente.cpf}}</li>
		    <li class="list-group-item">Endereço - {{paciente.endereco}}</li>
		  </ul>

			<div class="card-body">
		    <a class="btn btn-secondary btn-block" href="/pacientes/edita/{{paciente.id}}" class="card-link">Editar</a>
		    <a class="btn btn-danger btn-block" href="/pacientes/deleta/{{paciente.id}}" acao="remover(paciente)" class="card-link">Deletar</a>
		  </div>
		</div>
	</div>

</main>
